* {
    background-color:beige;
}

.tasks {
    border: 1px solid;
    width: 80%;
}
.tasks td, .tasks th {
    border: 1px solid;
    text-align: left;
}

.error {
	color: red;
	font-size: .8em;
	font-family: monospace;
	font-style: italic;
}